
body{
	background-color: white;
	font-family: lato;
}
.page-wrapper{
    padding-top: 20px !important;
}
#wrapper{
	background-color: #f8f8f8;
}
#side-menu{
	margin-top: 7px;
}
.sidebar ul li {
    border-bottom: 0;
}